<div ng-controller="displayEntryCntrl">

<div>Title <input type="text" class="create-title" size="80" ng-model="noteTitle" name="title"></input></div>
<span>Date  <input name="dt" class = "create-date" ng-model="noteDate"></input></span>
<span>Tags </span>  <span ng-repeat ="tag in tagArray"> <span class="create-tag-span"> {{tag}} </span></span>
    <input value="tag" class="create-tag" columns="5" ng-model = "enteredTag" placeHolder="Tag"></input> 
<div>Entry <textarea class="create-entry" rows="6" cols="80" class="entry" ng-model="noteEntry"></textarea></div>
  <div>
   <span>
    <button type="button" class="submitButton" ng-click="updateEntry()">Update Entry</button>
    <button type="button" class="clearButton"  ng-click="clearEntry()"> Clear</button>
  </span>
</div>

