<div ng-controller="displayEntryCntrl">

<div>Title <input type="text" class="create-title" size="80" ng-model="noteTitle" name="title"></input></div>
<div>Date  <input name="dt" class = "create-date" ng-model="noteDate"></input></div>
<div>Entry <textarea class="create-entry" rows="6" cols="80" class="entry" ng-model="noteEntry"></textarea></div>
  <div>
   <span>
    <button type="button" class="submitButton" ng-click="updateEntry()">Update Entry</button>
    <button type="button" class="clearButton"  ng-click="clearEntry()"> Clear</button>
  </span>
</div>

